/terraform/*.tfvars
/terraform/terraform.tfstate
*.zip
*.env

# Introducing .example files! These are files of miscellaneous historical and documentation text just for copilot. They are not used by the application.
*.example
```